{% extends 'admin.html.twig' %}


{% block body %}
<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
         <h1></h1>
            <ol class="breadcrumb">
                <li>
                    <a href=""> news管理</a>
                </li>
                <li>
                    <a href="">添加news</a>
                </li>

            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                      
                           <form method="post" action="/news/store" class="form-horizontal" enctype = "multipart/form-data" >
        
                          
                            <div class="form-group">
                            <label class="col-sm-2 control-label">文件名称</label>

                                <div class="col-sm-4">
                                <input id="filetitle" type="text" name="title" value="" class="form-control"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">类型选择</label>
                                <div class="col-sm-4">
                                        <select class="form-control" name="bannertypeid" id="bannertypeid">
                                           
                                            <option value="22">232323</option>
                                          
                                        </select>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group"><label class="col-sm-2 control-label">上传文件</label>
                                <div class="col-sm-10">
                                   <input type="file" value="" name="file" />
                                <span class="help-block m-b-none">请上传414*140 大小 的图片 ，仅支持jpg,jpeg,png格式</span>
                                </div>

                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary"  type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}